.form {
  display: flex;
  flex-direction: column;
}

.text {
  border: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;

  &.open {
    max-height: 100px;
    border: 1px solid #eee;
  }
}

.button {
  padding: 0;
  width: fit-content;
  border: none;
  background-color: var(--background);
  border-radius: 5px;
  max-height: 0;
  transition: all 0.3s ease;
  overflow: hidden;

  &.open {
    max-height: 100px;
    padding: 5px 10px;
  }
}
