.list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  list-style-type: none;
  width: 500px;
  min-height: calc(100vh - 152px - 450px);
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .list {
    width: 100%;
    min-height: unset;
  }
}
