.wrapper {
  display: flex;
  gap: 30px;
}

.pages {
  display: flex;
  gap: 5px;
}

.page {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0 2px;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    background-color: var(--text-fade);
    border-radius: 2px;
  }
}
