.wrapper {
  display: flex;
  gap: 10px;
}

.pages {
  display: flex;
  gap: 5px;
}

.page {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0;
  font-size: 1rem;
  margin-bottom: -2px;

  &:hover {
    background-color: var(--shadow);
  }

  &.active {
    font-weight: bold;
  }
}
